{% extends "chatbot_tutorial/base.html"%}

{% block content %}

<div id="wrap" class="BotMainDiv" ng-controller="ChatCtrl">
    <!-- Begin page content -->
    <div class="container-fluid" id="body-container" style="border-bottom: #eee 1px solid;">

        <div  id="sub-body-container">
            <div  id="messages-container"></div>
            <div class="error-notification alert alert-info" style="display:none;"></div>
        </div>

    </div>
    <div class="btn-bar non-error">
        <button id ="btn1"  type="button" class="btn" onclick="sendTextMessage(this)">Stupid</button>
        <button id ="btn2" type="button" class="btn" onclick="sendTextMessage(this)">Fat</button>
        <button id ="btn3" type="button" class="btn" onclick="sendTextMessage(this)">Dumb</button>
    </div>
</div>
{% endblock %}

