{% extends "chatbot_tutorial/base.html"%}
{% block content %}
        <div class="container-fluid" id="body-container" style="border-bottom: #eee 1px solid;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">user</th>
                        <th scope="col">stupid</th>
                        <th scope="col">fat</th>
                        <th scope="col">dumb</th>
                        <th scope="col">created_on</th>
                    </tr>
                </thead>
                {% for each in data %}
                    <tbody>
                        <tr>
                            <td>{{each.user}}</td>
                            <td>{{each.stupid_count}}</td>
                            <td>{{each.fat_count}}</td>
                            <td>{{each.dumb_count}}</td>
                            <td>{{each.created_on}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
{% endblock %}