{% extends "chatbot_tutorial/base.html"%}
{% block content %}
    <div class="container-fluid" id="body-container" style="border-bottom: #eee 1px solid;">
        <div class="form-inline center" name ="user">
            <label for="user-name">User Name</label>
            <input class="form-control" id="user-name" placeholder="User">
            <button id ="enter" type="submit" class="btn btn-primary my-1"  onclick="gotochat(this)">Submit</button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function gotochat(e) {
            var user = $("#user-name").val();
            var str = window.location.href;
            var url = str.slice(0,-5)+"chat/?user="+user;
            window.location.replace(url);
        }
        var input = document.getElementById("user-name");
       input.addEventListener("keyup", function(event) {
                if (event.keyCode == 13)  // trigger message send when 'enter' key is clicked
                {
                   event.preventDefault();
                    document.getElementById("enter").click();
                }
        });
    </script>
{% endblock %}